shared-workspace-lockfile=true
enable-pre-post-scripts=true
hoist=false
strict-peer-dependencies=false
dedupe-peer-dependents=false
auto-install-peers=false

public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/react
public-hoist-pattern[]=@types/react-native

@sprinklr:registry=https://prod-nexus-external.sprinklr.com/nexus/repository/npm/
always-auth=true
//prod-nexus-external.sprinklr.com/nexus/repository/npm/:_auth=bGVkZ2VyOk1kI0BndEU5OHpBOXFQdUk=
//prod-nexus-external.sprinklr.com/nexus/repository/npm/:_authToken=bGVkZ2VyOk1kI0BndEU5OHpBOXFQdUk=
