shared-workspace-lockfile=true
enable-pre-post-scripts=true
hoist=false
strict-peer-dependencies=false
dedupe-peer-dependents=false
auto-install-peers=false

public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/react
public-hoist-pattern[]=@types/react-native

@sprinklr:registry=https://prod-nexus-external.sprinklr.com/nexus/repository/npm/
always-auth=true
_auth=<SPR_REGISTRY_AUTH_TOKEN>